<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Reviews{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="bg-slate-600 text-slate-200 py-3">
            <div class="max-w-5xl mx-auto">
                <div class="flex justify-between items-center">
                    <h1 class="text-xl font-bold">
                        <a href="{{ path('app_home') }}">Reviews</a>
                    </h1>
                    <nav class="flex gap-6">
                        <a href="{{ path('app_home') }}">Accueil</a>
                        {% if app.user %}
                            <span>{{ app.user.name }}</span>
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('app_login') }}">Connexion</a>
                            <a href="{{ path('app_register') }}">Inscription</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </header>

        <div class="max-w-5xl mx-auto">
            {% block body %}{% endblock %}
        </div>

        <footer>
            <p class="text-center">Tous droits réservés. {{ 'now' | date('Y') }}</p>
        </footer>
    </body>
</html>
